<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- Define o conjunto de caracteres como UTF-8 para suportar caracteres especiais -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Configura a escala inicial e a largura da visualização para dispositivos móveis -->
    <title>Adicionar Paciente</title> <!-- Define o título da página -->
    <link rel="stylesheet" href="static/stilos.css">
</head>
<body>
    <header>
        <img class="logo" src="static/img/DOG.png">
        <div class="cabecalho">
            <a class="botcabecalho" href="/"><bottom>Inicio</bottom></a>
            <a class="botcabecalho" href="/abrir_consultas"><bottom>Agendar Consulta</bottom></a>
            <a class="botcabecalho" href="/indez"><bottom>Perfil do Usuario</bottom></a>
            <a class="botcabecalho" href="/inde"><bottom>Calculos Medicinais</bottom></a>
            <a class="botcabecalho" href="/mostrar_calcular_idade"><bottom>Idade De Seu Pet</bottom></a>
        </div>
</header>
    <h1>Adicionar Perfil</h1> <!-- Título principal da página -->
    <form class="adicionar_paciente" action="/adicionar_paciente" method="POST"> <!-- Formulário para adicionar um novo contato. O 'action' indica para onde os dados do formulário serão enviados e o 'method' indica o método HTTP usado (neste caso, POST) -->
        <label for="nome">Nome:</label><br> <!-- Rótulo e campo de entrada para o nome do contato -->
        <input type="text" id="nome" name="nome"><br> <!-- Campo de entrada para o nome do contato -->
        <label for="telefone">Telefone:</label><br> <!-- Rótulo e campo de entrada para o telefone do contato -->
        <input type="text" id="telefone" name="telefone"><br> <!-- Campo de entrada para o telefone do contato -->
        <label for="raca">Raça:</label><br> <!-- Rótulo e campo de entrada para o email do contato -->
        <input type="text" id="raca" name="raca"><br> <!-- Campo de entrada para o email do contato -->
        <label for="peso">Peso:</label><br> <!-- Rótulo e campo de entrada para o email do contato -->
        <input type="text" id="peso" name="peso"><br>
        <label for="nometutor">Nome do Tutor:</label><br> <!-- Rótulo e campo de entrada para o email do contato -->
        <input type="text" id="nometutor" name="nometutor"><br>
        <label for="especie">Espécie:</label><br> <!-- Rótulo e campo de entrada para o email do contato -->
        <input type="text" id="especie" name="especie"><br>
        <br>
        <input type="submit" value="Adicionar"> <!-- Botão de envio do formulário -->
    </form>
    <footer>
        <p>&copy; 2023 - Todos os direitos reservados</p>
        <nav>
            <ul>
                <li><a href="#">Termos de uso</a></li>
                <li><a href="#">Política de privacidade</a></li>
                <li><a href="#">Sobre nós</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>