<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="../static/estiloo.css">
    <link rel="icon" type="image/jpg" href="static/img/gog.jpg">
    
</head>
<body>
    <header>
       
    </header>
    <header>
        <img class="logo" src="../static/img/DOG.png">
        <div class="cabecalho">
            <a class="botcabecalho" href="/indes"><bottom>Inicio</bottom></a>
            <a class="botcabecalho" href="/"><bottom>Agendar Consulta</bottom></a>
            <a class="botcabecalho" href="/indez"><bottom>Perfil do Usuario</bottom></a>
            <a class="botcabecalho" href="/inde"><bottom>Calculos Medicinais</bottom></a>
            <a class="botcabecalho" href="/mostrar_calcular_idade"><bottom>Idade De Seu Pet</bottom></a>
        </div>
</header> 
<h1 class="titulo" >Sobre Nós</h1>
    <section class="about-us">
        <h2>Nossa Missão</h2>
        <p>Bem-vindo à Clínica Veterinária Dog Dodói, onde a saúde e o bem-estar do seu pet são nossa prioridade.Nossa equipe de veterinários dedicados e qualificados está pronta para oferecer um atendimento personalizado e compassivo. Na Dog Dodói, tratamos cada animal com o carinho e o respeito que eles merecem, proporcionando um ambiente acolhedor e seguro para todos os nossos pacientes.</p>
    </section>
    <section class="our-tools">
        <h2>Nossa Equipe</h2>
        <p>Nossa equipe é composta por veterinários altamente qualificados e apaixonados pelo cuidado animal. Combinamos conhecimento técnico e amor pelos animais para proporcionar um atendimento personalizado e eficaz. Estamos sempre atualizados com as mais recentes práticas e tecnologias veterinárias para garantir que seu pet receba o melhor tratamento possível.</p>
    </section>
    <footer>
    </footer>
    <footer>
        <p>&copy; 2024 - Todos os direitos reservados</p>
        <nav>
            <ul>
                <li><a href="#">Termos de uso</a></li>
                <li><a href="#">Política de privacidade</a></li>
                <li><a href="#">Sobre nós</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>