<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- Define o conjunto de caracteres como UTF-8 para suportar caracteres especiais -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Configura a escala inicial e a largura da visualização para dispositivos móveis -->
    <title>Lista de Perfis</title> <!-- Define o título da página -->
    <link rel="stylesheet" href="static/estelo.css">
</head>
<body>
    <header>
        <img class="logo" src="static/img/DOG.png">
        <div class="cabecalho">
        <a class="botcabecalho" href="/"><bottom>Inicio</bottom></a>
            <a class="botcabecalho" href="/abrir_consultas"><bottom>Agendar Consulta</bottom></a>
            <a class="botcabecalho" href="/indez"><bottom>Perfil do Usuario</bottom></a>
            <a class="botcabecalho" href="/inde"><bottom>Calculos Medicinais</bottom></a>
            <a class="botcabecalho" href="/mostrar_calcular_idade"><bottom>Idade De Seu Pet</bottom></a>
        </div>
</header>
    <h1>Lista de Perfis</h1> <!-- Título principal da página -->
    <ul>
        {% for paciente in pacientes %} <!-- Loop através de cada contato na lista de contatos -->
        <li class="mercado">-Nome:  {{ paciente[1] }} <br>-Telefone:  {{ paciente[2] }} <br>-Raça:  {{ paciente[3] }} <br>-Peso:  {{ paciente[4] }} <br>-Tutor do Animal:  {{ paciente[5] }} <br>-Especie:  {{ paciente[6] }} <!-- Exibe as informações do contato, incluindo o nome, número de telefone e email. Se for favorito, adiciona um marcador -->
            <ul>
                <li><a href="/editar_paciente/{{ loop.index0 }}">Editar</a></li> <!-- Link para editar o contato -->
                <li><a href="/apagar_paciente/{{ loop.index0 }}">Apagar</a></li> <!-- Link para apagar o contato -->
            </ul>
        </li>
        {% endfor %}
    </ul>
    <a class="adicionar" href="/adicionar_paciente">Adicionar Paciente</a> <!-- Link para adicionar um novo contato -->
    <footer>
        <p>&copy; 2023 - Todos os direitos reservados</p>
        <nav>
            <ul>
                <li><a href="#">Termos de uso</a></li>
                <li><a href="#">Política de privacidade</a></li>
                <li><a href="#">Sobre nós</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>  <!-- fim do html -->