<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="../static/estiloo.css">
    <link rel="icon" type="image/jpg" href="static/img/gog.jpg">
    
</head>
<body>
    <header>
       
    </header>
    <header>
        <img class="logo" src="../static/img/DOG.png">
        <div class="cabecalho">
            <a class="botcabecalho" href="/"><bottom>Inicio</bottom></a>
            <a class="botcabecalho" href="/abrir_consultas"><bottom>Agendar Consulta</bottom></a>
            <a class="botcabecalho" href="/indez"><bottom>Perfil do Usuario</bottom></a>
            <a class="botcabecalho" href="/inde"><bottom>Calculos Medicinais</bottom></a>
            <a class="botcabecalho" href="/mostrar_calcular_idade"><bottom>Idade De Seu Pet</bottom></a>
        </div>
</header> 
    <h1>Sobre Nós</h1>
    <div class="div1">
        <img class="img2" src="../static/img/img1.jfif" alt="">
        <p class="p1">A Clínica Veterinária DogDodói é mais do que um espaço de atendimento médico para animais de estimação; 
            é um lugar onde o amor, o cuidado e a dedicação se encontram para proporcionar saúde e bem-estar aos nossos amigos de quatro patas. 
            Localizada no coração da cidade, nossa clínica é equipada com tecnologia de ponta e uma equipe de profissionais altamente qualificados, 
            prontos para oferecer um atendimento personalizado e humanizado.
            <br>
            <br>
            Na DogDodói, entendemos que cada pet é único e merece um tratamento especial, por isso, estamos comprometidos em proporcionar um ambiente acolhedor e seguro, 
            garantindo que seu companheiro receba o melhor cuidado possível. Seja para consultas de rotina, emergências ou tratamentos especializados, estamos aqui para 
            cuidar de quem é tão importante para você. Bem-vindo à DogDodói, onde a saúde do seu pet é a nossa prioridade!</p>
    </div>
    <h2 class="h22">Serviços</h2>
    <div class="div2">
        <p class="p2">Na Clínica Veterinária DogDodói, oferecemos uma ampla gama de serviços para atender todas as necessidades do seu pet com excelência e dedicação. 
            Nosso objetivo é garantir que seu companheiro receba o melhor cuidado possível em todas as fases da vida. Conheça nossos principais serviços:
        <div class="div3">
            <ol>
                <li>Consultas de Rotina e Preventivas: Realizamos check-ups regulares para monitorar a saúde do seu pet, prevenindo doenças e garantindo bem-estar contínuo.</li>
                <br>
                <br>
                <li>Vacinação: Mantemos o calendário de vacinação atualizado para proteger seu animal contra diversas doenças.</li>
                <br>
                <br>
                <li>Emergências e Atendimento 24 Horas: Nossa equipe está preparada para atender emergências a qualquer hora do dia ou da noite, oferecendo suporte imediato em situações críticas.</li>
                <br>
                <br>
                <li>Exames Diagnósticos: Disponibilizamos uma variedade de exames laboratoriais, de imagem (como raio-X e ultrassonografia), e outros procedimentos diagnósticos para uma avaliação precisa da saúde do seu pet.</li>
                <br>
                <br>
                <li>Cirurgias: Realizamos procedimentos cirúrgicos de diferentes complexidades, desde esterilizações até cirurgias ortopédicas e de tecidos moles, com toda a segurança e cuidado necessários.</li>
                <br>
                <br>
                <li>Odontologia Veterinária: Cuidamos da saúde bucal do seu pet, realizando limpezas dentais, extrações e tratamentos para doenças periodontais.</li>
                <br>
                <br>
                <li>Nutrição e Dietética: Oferecemos orientação nutricional personalizada para garantir uma alimentação equilibrada e adequada às necessidades específicas do seu animal.</li>
                <br>
                <br>
                <li>Fisioterapia e Reabilitação: Disponibilizamos tratamentos de fisioterapia para auxiliar na recuperação de lesões, cirurgias e problemas de mobilidade.</li>
                <br>
                <br>
                <li>Dermatologia: Tratamos doenças de pele e pelagem, garantindo que seu pet tenha uma pele saudável e livre de desconfortos.</li>
                <br>
                <br>
                <li>Internação: Contamos com instalações confortáveis e monitoramento constante para pets que necessitam de cuidados intensivos ou recuperação pós-operatória.</li>
                <br>
                <br>
                <li>Tosa e Higiene: Serviços de banho, tosa e higiene para manter seu pet limpo, bonito e saudável.</li>
                <br>
                <br>
                <li>Orientação Comportamental: Auxiliamos na resolução de problemas comportamentais, proporcionando uma convivência mais harmoniosa entre você e seu pet.</li>
            </ol>
        </div>
            <br>
    </div>
    <h2 class="h23">Contato</h2>
    <div>
        <form class="formulario" action="">
            <label for="">Seu Nome:</label>
            <input class="branco1" type="text">
            <label for="">E-Mail:</label>
            <input class="branco2" type="email">
            <label for="">Telefone:</label>
            <input class="branco3" type="tel">
            <label for="">Assunto:</label>
            <input class="branco4" type="text">
            <input type="submit">
        </form>
    </div>
    <footer>
        <p>&copy; 2024 - Todos os direitos reservados</p>
        <nav>
            <ul>
                <li><a href="#">Termos de uso</a></li>
                <li><a href="#">Política de privacidade</a></li>
                <li><a href="#">Sobre nós</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html